# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
venv/
ENV/
env/

# Pytest
.cache/
.pytest_cache/
*.cover
coverage.xml
htmlcov/
.tox/
nosetests.xml
test-results.xml

# VS Code
.vscode/

# PyCharm
.idea/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint
pylint-report.txt
pylint.log

# Logs
*.log

# Build artifacts
build/
dist/
*.egg-info/
*.egg
.eggs/

# Other Python tools
*.pyd
*.pyo

# Jupyter Notebook
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
